body {
  text-align: center;
  background-color: #FFEEF9;
}

div {
  margin-top: 15px;
}

.center {
  display: flex;
  justify-content: space-between;
}

.right {
  float: right;
  width: 50%;
  padding: 10px;
}

.left {
  float: left;
  width: 50%;
  padding: 10px;
}
