body {
  text-align: center;
  background-color: #FFEEF9;
}

div {
  margin-top: 15px;
}

.center {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.right {

}

.left {
  float: left;
  width: 500px;
  padding: 10px;

}

