body {
  text-align: center;
  background-color: #FFEEF9;
}

div {
  margin-top: 15px;
}

.center {
  display: flex;
  justify-content: center;
}

.right {
  display: flex;
  flex-direction: row;
  align-content: space-around;
}

.left {
  display: flex;
  align-content: space-around;
}

